<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANTHROPIC_API_KEY</key>
	<string>$(ANTHROPIC_API_KEY)</string>
	<key>CFBundleDisplayName</key>
	<string>Snap</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Listens for the word “snap”.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Recognises the word “snap” on this phone.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UPLOAD_SECRET</key>
	<string>$(UPLOAD_SECRET)</string>
</dict>
</plist>
